<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<h2>Archiv</h2><br />
<f:if condition="{listcontent -> f:count()} > 3">
	<f:then>
		<f:widget.paginate objects="{listcontent}" as="contents" configuration="{itemsPerPage: 3, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 5}">
			<div class="simple-news">
				<f:for each="{contents}" as="entry">
					<h3>{entry.title}</h3>
					<f:if condition="{entry.teaser}"><h4>{entry.teaser}</h4></f:if>
					<f:format.html>	
						{entry.bodytext}
					</f:format.html>		
					<hr width="100%" />
				</f:for>
		   </div>
		</f:widget.paginate>
	</f:then>
	<f:else>
		<div class="simple-news">
			<f:for each="{listcontent}" as="entry">
				<h3>{entry.title}</h3>
				<f:if condition="{entry.teaser}"><h4>{entry.teaser}</h4></f:if>
				<f:format.html>	
					{entry.bodytext}
				</f:format.html>		
				<hr width="100%" />
			</f:for>
		 </div>
	</f:else>
</f:if>
		
</html>